.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 20px;
    column-gap: 10px;
    height: 100vh;
    background-color: wheat;
}

.grid-container > header{
    grid-area: 1 / 2 / span 1 / span 3;
    background-color: #a193a7;
    -webkit-box-shadow: 7px 3px 26px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 3px 26px -8px rgba(0,0,0,0.75);
    box-shadow: 7px 3px 26px -8px rgba(0,0,0,0.75);
}

.grid-container > #sidebar{
    grid-area: 1 / 1 / span 11 / span 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    background-color: white;
    padding: 0px;
    -webkit-box-shadow: 7px 3px 26px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 3px 26px -8px rgba(0,0,0,0.75);
    box-shadow: 7px 3px 26px -8px rgba(0,0,0,0.75);
}
#logoP{
    width: 4rem;
    height: 4rem;
}

#logoSite{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5b000;
    padding: 0.7rem ;
}

#headerTitulo{
    display: flex;
    justify-content: space-between;
    align-items: bottom;
}

.grid-container > div{
    background-color: lightskyblue;
    font-size: 20px;
    text-align: center;
    padding: 20px; /*margem aplicada ao exterior do conteudo do grid*/
}

.grid-container > #content{
    margin-top: 0.1rem;
    grid-area: 2 / 2 / span 10 / span 3;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #82C0CC ;
    padding: 20px;
    column-gap: 10px;
    -webkit-box-shadow: 7px 3px 26px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 3px 26px -8px rgba(0,0,0,0.75);
    box-shadow: 7px 3px 26px -8px rgba(0,0,0,0.75);
}

#content > div{
    background-color: coral;
    border: 1px solid black;
    padding: 20px;
    margin: 1rem;
}
.bg-light{
    margin-top: 140px;
}
#titulo{
    text-align: left;
    font-family: 'Bebas Neue', cursive;
}