.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;

    column-gap: 10px;
    height: 100vh;
    background-color: rgb(223, 223, 223);
}

.grid-container > header{
    z-index: 1;
    grid-area: 1 / 2 / span 1 / span 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: #eaeaea;
    color: #7900ac;
    box-shadow: 8px 18px 37px -9px rgba(0,0,0,0.39);
    -webkit-box-shadow: 8px 18px 37px -9px rgba(0,0,0,0.39);
    -moz-box-shadow: 8px 18px 37px -9px rgba(0,0,0,0.39);
}

.grid-container > #sidebar{
    grid-area: 1 / 1 / span 11 / span 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    background-color: white;
    padding: 0px;
    box-shadow: 8px 18px 37px -9px rgba(0,0,0,0.39);
    -webkit-box-shadow: 8px 18px 37px -9px rgba(0,0,0,0.39);
    -moz-box-shadow: 8px 18px 37px -9px rgba(0,0,0,0.39);
}

#logoP{
    width: 4rem;
    height: 4rem;
}

#logoSite{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5b000;
    padding: 0.7rem ;
}

.grid-container > #content{
    z-index: 1;
    grid-area: 2 / 2 / span 10 / span 3;
    background-color: #ffffff ;
    padding: 20px;
    column-gap: 10px;
    box-shadow: 8px 18px 37px -9px rgba(0,0,0,0.39);
    -webkit-box-shadow: 8px 18px 37px -9px rgba(0,0,0,0.39);
    -moz-box-shadow: 8px 18px 37px -9px rgba(0,0,0,0.39);
}

nav{
    
    margin-top: 140px;
}

#titulo{
    text-align: left;
    font-family: 'Bebas Neue', cursive;
}